.bg-light {
    background-color: #e9ecef !important;
}
.dropdown-menu{
    border:none;
    background-color: #e9ecef !important;
    padding: 4%;
}
.navbar-nav{
    margin-right: 1.5%;
    padding: 0 3%;
}