<div class="row mx-auto my-3">
    <div class="col-md-6">
        <h3> Members</h3>
    </div>
    <div class="col-md-6 text-right">
        <button routerLink="/member/add" class="btn btn-outile-light"><i class="fa fa-plus"></i> <strong> Add New</strong></button>
    </div>
</div>
<hr>
<div class="list-members">
    <div class="row my-3">
        <div class="col-md-12 text-right">Count:
            <span class="badge badge-warning"> {{ count }} </span>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Full name</th>
                <th>Role</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of members">
                <td scope="row"> {{ member.fullName }} </td>
                <td> {{ member.role }} </td>
                <td> {{ member.email }} </td>
                <td>
                    <button class="btn btn-warning btn-sm mr-2">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>